<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814070635753-0hu8avp2ag2q54kfgmqe5el0hv41jcnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814070635753-0hu8avp2ag2q54kfgmqe5el0hv41jcnl</string>
	<key>API_KEY</key>
	<string>AIzaSyCoakQs_cj-JQmJmp618nDTqOnSv8GCwUE</string>
	<key>GCM_SENDER_ID</key>
	<string>814070635753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.da.fiu.edu.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-c0435</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-c0435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814070635753:ios:10e4694015a4bea7ca6478</string>
</dict>
</plist>